.so-widget-sow-icon-default-21edfead74c1 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-21edfead74c1 .sow-icon span,
.so-widget-sow-icon-default-21edfead74c1 .sow-icon a span {
  display: inline-block;
  color: #b2b2b2 !important;
  font-size: 60px !important;
}